*{
    /*outline: #bd081c 1px solid;*/
}
body {
	margin: 75px 0 0 0;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	align-items: stretch;
}

header {
	position: fixed;
	height: 75px;
	width: 100vw;
	top: 0;
	z-index: 10;
}

nav {
	width: 100%;
	height: 100%;
	display: flex;
	background: white;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	align-items: center;
	justify-content: space-around;
	line-height: 75px;
}

#Logo img {
	height: 25px;
	width: 25px;
}

#Logo {
	background-color: transparent;
	padding-left: 16px;
	padding-top: 15px;
}

#Msgs {
	cursor: pointer;
	padding-left: 10px;
}

#Not {
	cursor: pointer;
	padding-left: 10px;
}

#Menu {
	flex-grow: 1;
	cursor: pointer;
	justify-content: flex-start;
	padding-left: 10px;
}

#Inicio {
	font-family: sans-serif;
	flex-grow: 1;
	color: #717171;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
	height: 40px;
	width: 20px;
	background: #ECECEA;
	border-radius: 999px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#Siguiendo {
	font-family: sans-serif;
	flex-grow: 1;
	color: #717171;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
	height: 40px;
	width: 20px;
	background: #ECECEA;
	border-radius: 999px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#explorar {
	font-family: sans-serif;
	flex-grow: 1;
	color: #717171;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
	height: 40px;
	width: 20px;
	background: #ECECEA;
	border-radius: 999px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#User {
	font-family: sans-serif;
	flex-grow: 1;
	color: #717171;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
	height: 40px;
	width: 20px;
	background: #ECECEA;
	border-radius: 999px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#searchbar {
	flex-grow: 9;
	display: flex;
	justify-content: flex-start;
	height: 80%;
	border-radius: 4px;
	align-items: center;
	padding-left: 1rem;
}

#searchbar i {
	position: absolute;
	padding-left: 10px;
}

#searchbar input {
	width: 90%;
	height: 60%;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0 40px 0 52px;
	background-color: #ECECEA;
	border: none;
	padding-left: 4rem;
}

div.col {
	padding-top: 24px;
	padding-bottom: 24px;
	width: 20%;
	border: none;
	top: 0px;
	left: 0px;
	transform: translateX(0px) translateY(0px);
	
	padding-left: 12px;
	padding-right: 12px;
	box-sizing: border-box;
	

}

div.col div {
	width: 100%;
	border-radius: 0.5rem;
}

.guardar {
	display: none;
}

.padre {
	position: relative;
	height: 100%;
}
.col .dos:hover  {
	filter: contrast(0.8);
	background-color: #E8E7E6;
}
.col .dos:hover .guardar {
	display: flex;
	background-color: #bd081c;
	position: absolute;
	border-radius: 5px;
	color: white;
	font-size: 0.8rem;
	font-weight: bolder;
	text-align: center;
	padding-top: 0.3rem;
	top: 5px;
	right: 5px;
	height: 1.8rem;
	width: 5rem;
	padding-top: 10px;
	position: absolute;
	z-index: 10;
}

.col .cuatro:hover  {
	filter: contrast(0.8);
	background-color: #E8E7E6;
}

.col .cuatro:hover .guardar {
	display: flex;
	background-color: #bd081c;
	position: absolute;
	border-radius: 5px;
	color: white;
	font-size: 0.8rem;
	font-weight: bolder;
	text-align: center;
	padding-top: 0.3rem;
	top: 5px;
	right: 5px;
	height: 1.8rem;
	width: 5rem;
	padding-top: 10px;
	position: absolute;
	z-index: 10;
}

.col .seis:hover  {
	filter: contrast(0.8);
	background-color: #E8E7E6;
}

.col .seis:hover .guardar {
	display: flex;
	background-color: #bd081c;
	position: absolute;
	border-radius: 5px;
	color: white;
	font-size: 0.8rem;
	font-weight: bolder;
	text-align: center;
	padding-top: 0.3rem;
	top: 5px;
	right: 5px;
	height: 1.8rem;
	width: 5rem;
	padding-top: 10px;
	position: absolute;
	z-index: 10;
}

.col .dos:hover img {
	filter: contrast(0.3);
}

div.col div.dos {
	height: auto;
    
	cursor: zoom-in;
	padding: 5px 5px 10px 5px;
}

div.col div.dos img {
	
	width: 100%;
	border-radius: 1rem;
}

div.col div.cuatro:hover img {
	filter: contrast(0.3);
}

div.col div.cuatro img {
	
	width: 100%;
	border-radius: 1rem;
}

div.col div.cuatro {
	height: auto;
    
	padding: 5px 5px 10px 5px;
	cursor: zoom-in;

}

div.col div.seis img:hover {
	filter: contrast(0.3);
}

div.col div.seis {
	height: auto;
   
	padding: 5px 5px 10px 5px;
	cursor: zoom-in;
}

div.col div.seis img {
	
	width: 100%;
	border-radius: 1rem;
}

div.mas {
	display: flex;
	justify-content: flex-end;
}

div.mas i {
	height: 24px;
	width: 24px;
	background: #ECECEA;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8e8e8e;
}

div.icon {
	display: flex;
	justify-content: flex-end;
}

div.icon i {
	height: 24px;
	width: 24px;
	background: #ECECEA;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8e8e8e;
	padding: 7px;
}
@media(max-width:375px){
	div.col{
		width: 50%;
		padding: 0 0.5%
	}
	#Logo 
    ,#Inicio
    ,#Siguiendo
    ,#explorar
    ,#User
    ,#Not
    ,#Menu{
        display: none;
	}
	#panel {
		position: fixed;
		height: 75px;
		width: 100vw;
		top: 0;
		z-index: 10;
	}

	#Msgs1 {
		cursor: pointer;
		padding-left: 10px;
	}
	
	#Not1 {
		cursor: pointer;
		padding-left: 10px;
	}
	
	#Menu1 {
		flex-grow: 1;
		cursor: pointer;
		justify-content: flex-start;
		padding-left: 10px;
	}
	
	#Inicio1 {
		font-family: sans-serif;
		flex-grow: 1;
		color: #717171;
		font-weight: bold;
		padding-left: 8px;
		padding-right: 8px;
		height: 40px;
		width: 20px;
		background: #ECECEA;
		border-radius: 999px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	
	#Siguiendo1{
		font-family: sans-serif;
		flex-grow: 1;
		color: #717171;
		font-weight: bold;
		padding-left: 8px;
		padding-right: 8px;
		height: 40px;
		width: 20px;
		background: #ECECEA;
		border-radius: 999px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	
	#explorar1 {
		font-family: sans-serif;
		flex-grow: 1;
		color: #717171;
		font-weight: bold;
		padding-left: 8px;
		padding-right: 8px;
		height: 40px;
		width: 20px;
		background: #ECECEA;
		border-radius: 999px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	
	#User1 {
		font-family: sans-serif;
		flex-grow: 1;
		color: #717171;
		font-weight: bold;
		padding-left: 8px;
		padding-right: 8px;
		height: 40px;
		width: 20px;
		background: #ECECEA;
		border-radius: 999px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

}

